
<ul>
  <li>
    {{input type="checkbox" name="identityData" checked=model.identityData}} 
    Identity (email/etc) 
  </li>
  <li>
    {{input type="checkbox" name="locationData" checked=model.locationData}} 
    Location
  </li>
  <li>
    {{input type="checkbox" name="userBehaviourData" checked=model.userBehaviourData}} 
    User Behaviour
  </li>
  <li>
    {{input type="checkbox" name="computerNetworkData" checked=model.computerNetworkData}} 
    Computer/Network
  </li>
  <li>
    {{input type="checkbox" name="financialData" checked=model.financialData}} 
    Financial
  </li>
  <li>
    {{input type="checkbox" name="otherData" checked=isShowingOther}} 
    Other
    {{#if isShowingOther}}
      {{textarea value=name cols="80" rows="6"}}
    {{/if}}
  </li>
  <li>
    {{input type="checkbox" name="noData" checked=model.noData }} 
    We don’t collect any user data
  </li>
</ul>

{{yield}}
