
<div class="pure-g">
  <div class="pure-u-3-4">
    <p>
      Besides our staff, we share this info with
      <span class="text-input">{{input type="text" value=model.statement.thirdPartySharingNameOne placeholder="3rd parties" size="15"}}</span>
      in order to
      <span class="text-input">{{input type="text" value=model.statement.thirdPartySharingPurpose placeholder="take actions connected to a purpose for collection" size="46"}}</span>.
    </p>

    {{#each model.statement.sharingParties as |party|}}
      <div>
        <p>
          We also share this info with
          <span class="text-input">{{input type="text" value=party.nameOne placeholder="3rd parties" size="15"}}</span>
          in order to
          <span class="text-input">{{input type="text" value=party.purpose placeholder="take actions connected to a purpose for collection" size="46"}}</span>.
        </p>
      </div>
    {{/each}}

    <p>
      <button {{action "addParty"}} class="pure-button button-black-on-white button-small">we have another reason for sharing</button>
    </p>

    {{yield}}

  </div>

  <div class="pure-u-1-4">
    {{#step-help buttonText="Is that a problem?"}}
            <p>
              You need to have a valid reason to share information with outside parties, related to your purpose for collecting it. This doesn’t apply if you gathered the information from a public source, or you have asked the user’s permissions.
            </p>

            <p>
              When you’re dealing with cloud providers who are just storing or processing on your behalf, you don’t strictly have to include them. We say err on the side of transparency and tell your users, but if you’d like to talk it through,
              <a href="https://privacy.org.nz/contact-us/" target="_blank">contact us.</a>
            </p>

            <p>
              See <a href="https://privacy.org.nz/limits-on-use-of-personal-information-principle-ten/" target="_blank">Privacy Principle 10</a>,
              and <a href="https://privacy.org.nz/limits-on-disclosure-of-personal-information-principle-eleven/#collection" target="_blank">Privacy Principle 11</a>
              for more about sharing information.
            </p>
    {{/step-help}}
  </div>
</div>
