
<div class="pure-g">
  <div class="pure-u-3-4">
    {{yield}}

    <p>Here’s a privacy statement to stick on your site. You should show this to users when you get information from them.</p>

    {{render "statement" model.statement}}

    <p>
      Make your statement better by:

      <ul class="non-bullet-list">
        <li>
          {{input type="checkbox" checked=model.statement.keptSecurely id="keptSecurely"}}
          <label for="keptSecurely">reassuring your users their data is kept securely</label>
        </li>
        <li>
          {{input type="checkbox" checked=model.statement.dataDestruction id="dataDestruction"}}
          <label for="dataDestruction">reassuring your users their data is destroyed when it is no longer necessary</label>
        </li>
      </ul>
    </p>
  </div>

  <div class="pure-u-1-4">
    <button {{action "toggleHelp"}} class="pure-button button-black-on-white help-text-button">More about privacy</button>

    {{#if showHelp}}
    <div id="help-text" class="help-text">
      <p>
        You're required to show this to a user when you get information from them, or as soon as possible after that if this is not possible . See
        <a href="https://privacy.org.nz/collection-of-information-from-subject-principle-three/">Privacy Principle 3</a>
        for more.
      </p>

      <p>
        If you have any questions or concerns about the statement, check out the
        <a href="https://privacy.org.nz/how-to-comply/your-obligations/">Office of the Privacy Commissioner’s help information</a>,
        or contact our
        <a href="https://privacy.org.nz/news-and-publications/guidance-resources/health-privacy-toolkit/">Enquiries Line</a>.
        You can always augment or replace this statement based on it’s advice.
      </p>

      <p>
        If you collect medical information special rules apply, and you should see the
        <a href="https://privacy.org.nz/news-and-publications/guidance-resources/health-privacy-toolkit/">Privacy Health Toolkit</a>
        for more.
      </p>

    </div>
    {{/if}}
  </div>
</div>

