<div class="pure-g">
  <div class="pure-u-3-4">
    <p>We collect the following types of data about our users:</p>

    <ul class="pure-g non-bullet-list">
      <li class="pure-u-1-2">
        {{input type="checkbox" id="identityData" checked=model.statement.identityData}}
        <label for="identityData">Identity (email/etc)</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="locationData" checked=model.statement.locationData}}
        <label for="locationData">Location</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="userBehaviourData" checked=model.statement.userBehaviourData}}
        <label for="userBehaviourData">User Behaviour</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="computerNetworkData" checked=model.statement.computerNetworkData}}
        <label for="computerNetworkData">Computer/Network</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="financialData" checked=model.statement.financialData}}
        <label for="financialData">Financial</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="otherData" checked=model.statement.otherData}}
        <label for="otherData">Other</label>
        {{#if model.statement.otherData}}
          {{textarea value=model.statement.otherDataInfo cols="80" rows="6"}}
        {{/if}}
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="otherData" checked=model.otherData}}
      </li>
    </ul>

    <ul class="non-bullet-list">
      <li>
        {{input type="checkbox" id="noData" checked=model.statement.noData }}
        <label for="noData">We don’t collect any user data</label>
      </li>
    </ul>

    {{#if model.statement.noData}}
      <div>
        <p>You don’t need a privacy statement then. No point in filling this out any further.</p>
        <button {{action "acknowledgeNoDataModal"}}>oh, okay then</button>
      </div>
    {{/if}}

    {{#link-to "steps.step" 2 classNames="pure-button button-blue next-step-button"}}move along{{/link-to}}

  </div>

  <div class="pure-u-1-4">
    <button {{action "toggleHelp"}} type="button" class="pure-button button-black-on-white help-text-button">What should I list?</button>

    {{#if showHelp}}
        <div id="help-text" class="help-text">
          <p class="first-help-text-item">
            If there's a reasonable chance information can be used to identify a living person, it's considered &ldquo;Personal Information&rdquo; by New Zealand law (even if no names appear). The information doesn't need to be &ldquo;secret&rdquo; or &ldquo;sensitive&ldquo;—it just needs to be about them.
          </p>

          <p>Examples of personal information include,</p>

          <p>
            <strong>Identity information:</strong> <br />
            Name, username, email-address,  password, date-of-birth/Age, gender, etc
          </p>
          <p>
            <strong>Location information:</strong> <br />
            GPS Location, physical addresses, etc
          </p>
          <p>
            <strong>Behavioural information:</strong> <br />
            Interests, browsing habits, searches, contacts or associates, etc
          </p>
          <p>
            <strong>Computer/Network information:</strong> <br />
            Browser identifiers/fingerprint, IP address, network information, etc
          </p>
          <p>
            <strong>Financial information:</strong> <br />
            Credit card, purchase history, etc
          </p>

          <p>
            &hellip; many other things. The types of information that can identify someone can be very broad.
          </p>
        </div>
    {{/if}}
  </div>
</div>
