<div class="pure-g">
  <div class="pure-u-3-4 modal-anchor">

    <p>We're required to collect some of this information by law:</p>

    <p>
      {{radio-button value=false checked=model.statement.requiredByLaw id="notRequiredByLaw"}}
      <label for="notRequiredByLaw">No</label>
      <br />
      {{radio-button value=true checked=model.statement.requiredByLaw id="requiredByLaw"}}
      <label for="requiredByLaw">Yes</label>
    </p>

    {{#if model.statement.requiredByLaw}}
      <button {{action "showModal"}} class="pure-button button-blue next-step-button">move along</button>
    {{else}}
      {{yield}}
    {{/if}}

    {{#modal-message showModal=showModal}}
      <p>
        You'll need to place a notice informing the user which laws this information is collected under, and whether supplying this information is voluntary or not.
      </p>
      <p>
        This is beyond the scope of the tool, and you'll need to create these parts of the statement yourself. We recommend engaging a privacy consultant or lawyer for advice on how to do this.
      </p>
      <p>
        See
        <a href="https://privacy.org.nz/collection-of-information-from-subject-principle-three/" target="_blank">Privacy Principle 3</a>
        for more.
      </p>
      {{yield}}
    {{/modal-message}}

  </div>

  <div class="pure-u-1-4">
  </div>
</div>

