<div class="pure-g">
  <div class="pure-u-3-4">
    {{yield}}
    <p>
      We collect this data because we need to {{input value=model.statement.collectionReason placeholder="do something that directly relates to our business"}}
    </p>

    {{#each model.statement.extraReasons as |_ index|}}
      <p>
        also, we need to
        {{!-- this should work when ek/array-item-input has been merged --}}
        {{array-item-input array=model.statement.extraReasons index=index placeholder="do another thing related to our business"}}
      </p>
    {{/each}}


    <p>
      <button {{action "addReason"}} class="pure-button">we have another reason</button>
    </p>


    <p>
      We only collect information that relates to these purposes:
    </p>

    <ul class="non-bullet-list">
      <li>
        {{input type="checkbox" checked=model.statement.onlyTheseReasons}}
        <label>Yes</label>
      </li>
      <li>
        {{input type="checkbox" checked=model.statement.moreReasons}}
        <label>No</label>
      </li>
    </ul>

    {{#link-to "steps.step" 4 classNames="pure-button button-blue next-step-button"}}move along{{/link-to}}
  </div>

  <div class="pure-u-1-4">
      <button {{action "toggleHelp"}} class="pure-button button-black-on-white help-text-button">Information needs a purpose?</button>

          {{#if showHelp}}
              <div id="help-text" class="help-text">

              <p>
                You need a purpose related to a function of your business for each piece of information you collect. Information you collect needs to be necessary for these purposes, and must support your business in a clearly defined way. If you don’t actually need the information, it’s better to not collect it.
              </p>

              <p>
                If you are given information that you didn’t ask for (didn’t &ldquo;collect&rdquo;) these requirements don’t apply, however the provisions (covered later on) requiring safe storage, correction, and access by users still apply.
              </p>

              <p>
                Identify a clear purpose and sticking to it is the key to getting privacy right. See
                <a href="https://privacy.org.nz/how-to-comply/getting-started/">Getting Started</a>
                and
                <a href="https://privacy.org.nz/purpose-for-collection-of-personal-information-principle-one/">Privacy Principle 1</a>
                for more.
              </p>

              </div>
          {{/if}}
  </div>

</div>
