<div class="pure-g">
  <div class="pure-u-3-4 modal-anchor">
    <p>We get this personal information by:</p>

    <ul class="non-bullet-list">
        <li>
          {{input type="checkbox" id="userDataSource" checked=model.statement.userDataSource}}
          <label for="userDataSource">Asking people directly</label>
        </li>
        <li>
          {{input type="checkbox" id="publicDataSource" checked=model.statement.publicDataSource}}
          <label for="publicDataSource">Using public sources of information</label>
        </li>
        <li>
          {{input type="checkbox" id="thirdPartyDataSource" checked=model.statement.thirdPartyDataSource}}
          <label for="thirdPartyDataSource">Asking third parties (a credit agency for instance)</label>
        </li>
        <li>
          {{input type="checkbox" id="otherDataSource" checked=model.statement.otherDataSource}}
          <label for="otherDataSource">Other</label>
            {{#if model.statement.otherDataSource}}
              {{textarea value=model.statement.otherDataSourceInfo cols="40" rows="2"}}
            {{/if}}
        </li>
    </ul>

    {{#if model.statement.otherDataSource}}
      {{#modal-message showModal=showOtherDataModal}}
        <p>
          In most cases you’ll need to get information directly from the person. Unfortunately situations where information's collected from sources not listed here are too complex for this tool. If this is the case feel free to <a href="https://privacy.org.nz/contact-us/" target="_blank">contact us</a> for help.
        </p>
        <p>
          See
          <a href="https://privacy.org.nz/how-to-comply/getting-started/purpose/#collection" target="_blank">Fair Collection</a>
          or
          <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/source-of-personal-information-principle-two/" target="_blank">Privacy Principle 2</a>
          for more information.
        </p>
      {{/modal-message}}
    {{/if}}

    {{#if model.statement.thirdPartyDataSource}}
      {{#modal-message showModal=showThirdPartyDataModal}}
        <p>
          In most cases you’ll need to ask permission to do this. You’ll usually need to ask permission to get information from a third party. This generator doesn’t cover third parties, but you can
          <a href="https://privacy.org.nz/contact-us/" target="_blank">contact us</a>
          for help with creating a statement if this is the case.
        </p>
        <p>
          See
          <a href="https://privacy.org.nz/how-to-comply/getting-started/purpose/#collection" target="_blank">Fair Collection</a>
          or
          <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/source-of-personal-information-principle-two/" target="_blank">Privacy Principle 2</a>
          for more information.
        </p>
      {{/modal-message}}
    {{/if}}

    {{#modal-message showModal=showNotReadyMessage}}
      <p>You'll need to explain where you get people's personal information from.
        <ul>
            {{#if model.statement.identityData}}<li>name</li>{{/if}}
            {{#if model.statement.locationData}}<li>location</li>{{/if}}
            {{#if model.statement.addressData}}<li>contact information</li>{{/if}}
            {{#if model.statement.computerNetworkData}}<li>computer/network information</li>{{/if}}
            {{#if model.statement.userBehaviourData}}<li>how people interact with you</li>{{/if}}
            {{#if model.statement.financialData}}<li>billing information</li>{{/if}}
            {{#if model.statement.otherDataInfo}}<li>{{model.otherDataInfo}}</li>{{/if}}
        </ul>
      </p>
    {{/modal-message}}

    <button {{action "nextStep"}} class="pure-button button-blue next-step-button">move along</button>

  </div>
  <div class="pure-u-1-4">
  {{#step-help buttonText="Why does this matter?"}}
      <p>
        When collecting information it's almost always best to get it directly from people themselves rather than third party sources, if you can. By knowing what information you have and what you're doing with it, people are far less likely to be surprised or upset.
      </p>

      <p>
        See
        <a href="https://privacy.org.nz/how-to-comply/getting-started/purpose/#collection" target="_blank">Fair Collection</a>
        or
        <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/source-of-personal-information-principle-two/" target="_blank">Privacy Principle 2</a>
        for more.
      </p>

  {{/step-help}}
  </div>
</div>
