<div class="pure-g">
  <div class="pure-u-3-4 modal-anchor">
    <p>We collect the following types of data about our users:</p>

    <ul class="pure-g non-bullet-list">
      <li class="pure-u-1-2">
        {{input type="checkbox" id="identityData" checked=model.statement.identityData}}
        <label for="identityData">Identity (email/etc)</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="locationData" checked=model.statement.locationData}}
        <label for="locationData">Location</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="addressData" checked=model.statement.addressData}}
        <label for="addressData">Address</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="userBehaviourData" checked=model.statement.userBehaviourData}}
        <label for="userBehaviourData">User Behaviour</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="computerNetworkData" checked=model.statement.computerNetworkData}}
        <label for="computerNetworkData">Computer/Network</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="uniqueIdData" checked=model.statement.uniqueId}}
        <label for="uniqueId">Unique Identifiers</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="financialData" checked=model.statement.financialData}}
        <label for="financialData">Financial</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="otherData" checked=model.statement.otherData}}
        <label for="otherData">Other</label>
        {{#if model.statement.otherData}}
          {{textarea value=model.statement.otherDataInfo cols="80" rows="6"}}
        {{/if}}
      </li>
    </ul>

    <ul class="non-bullet-list">
      <li>
        {{input type="checkbox" id="noData" checked=model.statement.noData }}
        <label for="noData">We don’t collect any user data</label>
      </li>
    </ul>

    {{#if model.statement.noData}}
      <div class="modal">
        <p>You don’t need a privacy statement then. No point in filling this out any further.</p>
      </div>
      <button {{action "acknowledgeNoDataModal"}} class="modal-close-button">✕</button>
    {{/if}}

    {{#if model.statement.uniqueId}}
      <div class="modal">
        <p>
          You need to be careful collecting these&mdash;you can't ask for unique identifiers unless your purpose for collection is linked to the reason the identifier was assigned.
        </p>
        <p>
          See
          <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/unique-identifiers-principle-twelve/" target="_blank">Privacy Principle 12</a> for more.
        </p>
      </div>
      <button {{action "acknowledgeUniqueIdModal"}} class="modal-close-button">✕</button>
    {{/if}}

  </div>


  <div class="pure-u-1-4">
  {{#step-help}}
          <p class="first-help-text-item">
            If there's a reasonable chance information can be used to identify a living person, it's considered &ldquo;Personal Information&rdquo; by New Zealand law (even if no names appear). The information doesn't need to be &ldquo;secret&rdquo; or &ldquo;sensitive&ldquo;—it just needs to be about them.
          </p>

          <p>Examples of personal information include,</p>

          <p>
            <strong>Identity information:</strong> <br />
            Name, username, email-address,  password, date-of-birth/age, gender, etc
          </p>
          <p>
            <strong>Location information:</strong> <br />
            GPS Location, Latitude/Longitude, etc
          </p>
          <p>
            <strong>Address information:</strong> <br />
            Postal address, etc
          </p>
          <p>
            <strong>Behavioural information:</strong> <br />
            Interests, browsing habits, searches, contacts or associates, etc
          </p>
          <p>
            <strong>Computer/Network information:</strong> <br />
            Browser identifiers/fingerprints, IP address, network information, etc
          </p>
          <p>
            <strong>Unique Identifiers:</strong> <br />
            Officially issued numbers that tie a user to their information (for instance
            passport and drivers license numbers).
          </p>
          <p>
            <strong>Financial information:</strong> <br />
            Credit card, purchase history, etc
          </p>

          <p>
            &hellip; and many other things. The types of information that can identify someone can be very broad.
          </p>
    {{/step-help}}
  </div>
</div>
