

  {{#if showModal}}
  <div>
      You'll need to place a notice informing the user which laws this information is collected under, and whether supplying this information is voluntary or not.
      <button {{action "ackModal"}}>i understand</button>
  </div>
  {{/if}}


<div class="pure-g">
  <div class="pure-u-3-4">

    <p>Are you required to collect any information by law?</p>

    <p>
      {{radio-button value=false checked=model.statement.requiredByLaw id="notRequiredByLaw"}}
      <label for="notRequiredByLaw">No</label>
      <br />
      {{radio-button value=true checked=model.statement.requiredByLaw id="requiredByLaw"}}
      <label for="requiredByLaw">Yes</label>
    </p>

    {{#if model.statement.requiredByLaw}}
      <button {{action "showModal"}} class="pure-button button-blue next-step-button">move along</button>
    {{else}}
      {{yield}}
    {{/if}}

  </div>

  <div class="pure-u-1-4">
    <button {{action "toggleHelp"}} class="pure-button button-black-on-white help-text-button">That matters?</button>
    {{#if showHelp}}
    <div id="help-text" class="help-text">
      <p>
        You’ll need to place a notice informing the user which laws this information is collected under, and whether supplying this information is voluntary or not.
      </p>

      <p>
        See
        <a href="https://privacy.org.nz/collection-of-information-from-subject-principle-three/">Privacy Principle 3</a>
        for more.
      </p>

    </div>
    {{/if}}
  </div>
</div>

