<div class="pure-g">
  <div class="pure-u-3-4 modal-anchor">
    <p>We get this data from:</p>

    <ul class="non-bullet-list">
        <li>
          {{input type="checkbox" id="userDataSource" checked=model.statement.userDataSource}}
          <label for="userDataSource">Our users themselves</label>
        </li>
        <li>
          {{input type="checkbox" id="publicDataSource" checked=model.statement.publicDataSource}}
          <label for="publicDataSource">Public sources of information on our users</label>
        </li>
        <li>
          {{input type="checkbox" id="thirdPartyDataSource" checked=model.statement.thirdPartyDataSource}}
          <label for="thirdPartyDataSource">3rd parties (a credit agency for instance)</label>
        </li>
        <li>
          {{input type="checkbox" id="otherDataSource" checked=model.statement.otherDataSource}}
          <label for="otherDataSource">Other</label>
            {{#if model.statement.otherDataSource}}
              {{textarea value=model.statement.otherDataSourceInfo cols="80" rows="6"}}
            {{/if}}
        </li>
    </ul>

    {{#if model.statement.otherDataSource}}
      {{#modal-message showModal=showOtherDataModal}}
        <p>
          In most cases you’ll want to get info directly from the user. Unfortunately situations where information's collected from sources not listed here are too complex for this tool to handle. If this is the case you can
          <a href="https://privacy.org.nz/contact-us/" target="_blank">contact us</a>
          for help with creating a statement.
        </p>
        <p>
          See
          <a href="https://privacy.org.nz/how-to-comply/getting-started/purpose/#collection" target="_blank">Fair Collection</a>
          or
          <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/source-of-personal-information-principle-two/" target="_blank">Privacy Principle 2</a>
          for more.
        </p>
      {{/modal-message}}
    {{/if}}

    {{#if model.statement.thirdPartyDataSource}}
      {{#modal-message showModal=showThirdPartyDataModal}}
        <p>
          You’ll usually need to ask for user permission to get information from a 3rd party. Unfortunately cases like this are a bit too complex for this tool to handle. You can
          <a href="https://privacy.org.nz/contact-us/" target="_blank">contact us</a>
          for help with creating a statement if this is the case.
        <p>
        </p>
          See
          <a href="https://privacy.org.nz/how-to-comply/getting-started/purpose/#collection" target="_blank">Fair Collection</a>
          or
          <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/source-of-personal-information-principle-two/" target="_blank">Privacy Principle 2</a>

          for more.
        </p>
      {{/modal-message}}
    {{/if}}

    {{#modal-message showModal=showNotReadyMessage}}
      <p>You'll need to explain where you get your user information from.
        <ul>
            {{#if model.statement.identityData}}<li>identity</li>{{/if}}
            {{#if model.statement.locationData}}<li>location</li>{{/if}}
            {{#if model.statement.computerNetworkData}}<li>computer/network</li>{{/if}}
            {{#if model.statement.userBehaviourData}}<li>behaviour</li>{{/if}}
            {{#if model.statement.financialData}}<li>finances</li>{{/if}}
            {{#if model.statement.otherDataInfo}}<li>{{model.otherDataInfo}}</li>{{/if}}
        </ul>
      </p>
    {{/modal-message}}

    <button {{action "nextStep"}} class="pure-button button-blue next-step-button">move along</button>

  </div>
  <div class="pure-u-1-4">
  {{#step-help buttonText="Why does this matter?"}}
      <p>
        When collecting information it's almost always best to get it directly from the users themselves rather than third party sources. By knowing what information you have and what you're doing with it, users are far less likely to be surprised or upset.
      </p>

      <p>
        See
        <a href="https://privacy.org.nz/how-to-comply/getting-started/purpose/#collection" target="_blank">Fair Collection</a>
        or
        <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/source-of-personal-information-principle-two/" target="_blank">Privacy Principle 2</a>
        for more.
      </p>

  {{/step-help}}
  </div>
</div>
