<div class="pure-g">
  <div class="pure-u-2-3">
    {{yield}}


    <ul>
        <li>
          {{input type="checkbox" name="userDataSource" checked=model.statement.userDataSource}}
          Our users themselves
        </li>
        <li>
          {{input type="checkbox" name="publicDataSource" checked=model.statement.publicDataSource}}
          Public sources of information on our users
        </li>
        <li>
          {{input type="checkbox" name="thirdPartyDataSource" checked=model.statement.thirdPartyDataSource}}
          3rd parties (a credit agency for instance)
        </li>
        <li>
          {{input type="checkbox" name="model.statement.otherDataSource" checked=model.statement.otherDataSource}}
          Other
            {{#if model.statement.otherDataSource}}
              {{textarea value=model.statement.otherDataSourceInfo cols="80" rows="6"}}
            {{/if}}
        </li>
    </ul>

    <div>
      <p>
        In most cases you’ll need to get info directly from the user.
        See
        <a href="https://privacy.org.nz/how-to-comply/getting-started/purpose/#collection">Fair Collection</a>
        or
        <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/source-of-personal-information-principle-two/">Privacy Principle 2</a>
        for more.
      </p>
    </div>

    <div>
      <p>
        In most cases you’ll need to ask permission to do this. 
        See
        <a href="https://privacy.org.nz/how-to-comply/getting-started/purpose/#collection">Fair Collection</a>
        or
        <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/source-of-personal-information-principle-two/">Privacy Principle 2</a>
        for more.
      </p>
    </div>

    {{#link-to "steps.step" 3 classNames="pure-button button-blue next-step-button"}}move along{{/link-to}}
  </div>

  <div class="pure-u-1-3">
    <button type="button">Why does this matter?</button>

    <div>
      <p>
        When collecting information it's almost always best to get it directly from the user. By knowing what information you have and what you're doing with it, users are far less likely to be surprised or upset.
      </p>

      <p>
        See
        <a href="https://privacy.org.nz/how-to-comply/getting-started/purpose/#collection">Fair Collection</a>
        or
        <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/source-of-personal-information-principle-two/">Privacy Principle 2</a>
        for more.
      </p>

    </div>
  </div>
</div>
