{{yield}}
<p>
  We collect this data because we need to {{input value="do something that directly relates to our business"}}
</p>

<p>
<button {{action "moreReasons"}} class="pure-button pure-button-secondary">we have another reason</button>

  also, we need {{input value="do another thing related to our business"}}
</p>

<p>
  We only collect information relates to these purposes:
  <ul>
  <li>{{input type="checkbox" checked=model.statement.onlyTheseReasons}} Yes  <small>Go to next screen</small></li>
  <li>{{input type="checkbox" checked=model.statement.moreReasons}} No   <small>pop up help message</small></li>
  </ul>

</p>