{{yield}}



<ol>
<li>
  {{input type="checkbox" name="userData" checked=userData}} 
  Our users themselves
</li>
<li>
  {{input type="checkbox" name="publicData" checked=publicData}} 
  Public sources of information on our users
</li>
<li>
  {{input type="checkbox" name="thirdPartyData" checked=thirdPartyData}} 
  3rd parties (a credit agency for instance)
</li>
<li>
  {{input type="checkbox" name="otherData" checked=otherData}} 
  Other
</li>
</ol>