{{yield}}

<ul>
<li>
  {{input type="checkbox" name="identityDataSource" checked=identityDataSource}} 
  Identity (email/etc) 
</li>
<li>
  {{input type="checkbox" name="locationDataSource" checked=locationDataSource}} 
  Location
</li>
<li>
  {{input type="checkbox" name="userBehaviourDataSource" checked=userBehaviourDataSource}} 
  User Behaviour
</li>
<li>
  {{input type="checkbox" name="computerNetworkDataSource" checked=computerNetworkDataSource}} 
  Computer/Network
</li>
<li>
  {{input type="checkbox" name="financialDataSource" checked=financialDataSource}} 
  Financial
</li>
<li>
  {{input type="checkbox" name="otherDataSource" checked=otherDataSource}} 
  other [free text]
  {{textarea value=name cols="80" rows="6"}}
</li>
<li>
We don’t collect any user data
</li>
</ul>
