<div class="pure-g">
  <div class="pure-u-3-4 modal-anchor">

    <ul class="non-bullet-list">
        <li>
          {{input type="checkbox" id="userDataSource" checked=model.statement.userDataSource}}
          <label for="userDataSource">Our users themselves</label>
        </li>
        <li>
          {{input type="checkbox" id="publicDataSource" checked=model.statement.publicDataSource}}
          <label for="publicDataSource">Public sources of information on our users</label>
        </li>
        <li>
          {{input type="checkbox" id="thirdPartyDataSource" checked=model.statement.thirdPartyDataSource}}
          <label for="thirdPartyDataSource">3rd parties (a credit agency for instance)</label>
        </li>
        <li>
          {{input type="checkbox" id="otherDataSource" checked=model.statement.otherDataSource}}
          <label for="otherDataSource">Other</label>
            {{#if model.statement.otherDataSource}}
              {{textarea value=model.statement.otherDataSourceInfo cols="80" rows="6"}}
            {{/if}}
        </li>
    </ul>

    {{#if model.statement.otherDataSource}}
      {{#modal-message showModal=showOtherDataModal}}
        <p>
          In most cases you’ll need to get info directly from the user.
          See
          <a href="https://privacy.org.nz/how-to-comply/getting-started/purpose/#collection">Fair Collection</a>
          or
          <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/source-of-personal-information-principle-two/">Privacy Principle 2</a>
          for more.
        </p>
      {{/modal-message}}
    {{/if}}

    {{#if model.statement.thirdPartyDataSource}}
      {{#modal-message showModal=showThirdPartyDataModal}}
        <p>
          In most cases you’ll need to ask permission to do this.
          See
          <a href="https://privacy.org.nz/how-to-comply/getting-started/purpose/#collection">Fair Collection</a>
          or
          <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/source-of-personal-information-principle-two/">Privacy Principle 2</a>
          for more.
        </p>
      {{/modal-message}}
    {{/if}}

    {{yield}}

  </div>

  <div class="pure-u-1-4">
    <button type="button" class="pure-button button-black-on-white help-text-button" onclick="$('#help-text').toggle()">Why does this matter?</button>

    <div id="help-text" class="help-text _hidden">
      <p>
        When collecting information it's almost always best to get it directly from the user. By knowing what information you have and what you're doing with it, users are far less likely to be surprised or upset.
      </p>

      <p>
        See
        <a href="https://privacy.org.nz/how-to-comply/getting-started/purpose/#collection">Fair Collection</a>
        or
        <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/source-of-personal-information-principle-two/">Privacy Principle 2</a>
        for more.
      </p>

    </div>
  </div>
</div>
