
<div class="pure-g">
  <div class="pure-u-3-4">

    <p>Sometimes information is optional, and will limit the kinds of services provided. </p>

    <p>
      If our users choose not to enter
      <span class="text-input">{{input type="text" value=model.statement.optionalInfo placeholder="certain type of information"}}</span>,
      we'll
      <span class="text-input">{{input type="text" value=model.statement.optionalConsequence placeholder="be unable to provide specific services"}}</span>
    </p>



    {{#each option in model.statement.extraOptionalInfo}}
      <div>
        <p>
          If they choose not to enter
          <span class="text-input">{{input type="text" value=option.info placeholder="a certain type of information"}}</span>,
          we'll
          <span class="text-input">{{input type="text" value=option.consequence placeholder="be unable to provide specific services"}}</span>
        </p>
      </div>
    {{/each}}

    <p>
      <button {{action "addOptionalInfo"}} class="pure-button button-black-on-white button-small">we have more optional data</button>
    </p>

    {{yield}}

  </div>

  <div class="pure-u-1-4">

      {{#step-help buttonText="That matters?"}}
      <p>
        If there are consequences You’re required to inform users of any consequences if all or any of the requested information is not provided
      </p>

      <p>
        See
        <a href="https://privacy.org.nz/collection-of-information-from-subject-principle-three/">Privacy Principle 3</a>
        for more.
      </p>

      {{/step-help}}
  </div>

</div>














