<div class="pure-g">
  <div class="pure-u-3-4 modal-anchor">

    <p>We collect the following types of personal information:</p>

    <ul class="pure-g non-bullet-list">
      <li class="pure-u-1-2">
        {{input type="checkbox" id="identityData" checked=model.statement.identityData}}
        <label for="identityData">Name</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="locationData" checked=model.statement.locationData}}
        <label for="locationData">Location (if mobile)</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="addressData" checked=model.statement.addressData}}
        <label for="addressData">Contact information</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="userBehaviourData" checked=model.statement.userBehaviourData}}
        <label for="userBehaviourData">How people interact with us</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="computerNetworkData" checked=model.statement.computerNetworkData}}
        <label for="computerNetworkData">Computer/Network (if online)</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="uniqueIdData" checked=model.statement.uniqueId}}
        <label for="uniqueIdData">Unique identifiers</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="financialData" checked=model.statement.financialData}}
        <label for="financialData">Billing information</label>
      </li>
      <li class="pure-u-1-2">
        {{input type="checkbox" id="otherData" checked=model.statement.otherData}}

        {{#unless model.statement.otherData}}
          <label for="otherData">Other</label>
        {{else}}
          <label for="otherData"></label>
          <span class="text-input">
            {{input type="text" value=model.statement.otherDataInfo}}
          </span>
        {{/unless}}
      </li>
    </ul>

    <ul class="non-bullet-list">
      <li>
        {{input type="checkbox" id="noData" checked=model.statement.noData }}
        <label for="noData">We don’t collect personal information</label>
      </li>
    </ul>

    {{#modal-message showModal=model.statement.noData}}
        <p>If you don't collect personal information, you don’t need a privacy statement. There's no point in filling this out any further.</p>
    {{/modal-message}}

    {{#modal-message showModal=showNotReadyMessage}}
        <p>If you don't collect personal information, you don’t need a privacy statement. There's no point in filling this out any further.</p>
    {{/modal-message}}

    {{#modal-message showModal=model.statement.uniqueId}}
        <p>
          You need to be careful collecting these &mdash; you generally can't use another agency's unique identifier to identify someone. See 
          <a href="https://privacy.org.nz/the-privacy-act-and-codes/privacy-principles/unique-identifiers-principle-twelve/" target="_blank">Privacy Principle 12</a> for more information.
        </p>
        <p>
          If you do collect a unique identifier, you're going to want to specifiy exactly which identifier in the &ldquo;other&rdquo; field below (the Unique Identifier box will be deselected when you close this message).
        </p>  
        <p>
          Using unique identifiers can be complex &mdash; if you want to discuss how to do it legally, feel free to <a href="https://privacy.org.nz/contact-us/" target="_blank">contact us</a>.
        </p>
    {{/modal-message}}

    <button {{action "nextStep"}} class="pure-button button-blue next-step-button">move along</button>

  </div>


  <div class="pure-u-1-4">
  {{#step-help buttonText="What should I list?"}}
          <p class="first-help-text-item">
            If there's a reasonable chance information can be used to identify a living person, it's considered &ldquo;personal information&rdquo; by New Zealand law (even if no names appear). The information doesn't need to be &ldquo;secret&rdquo; or &ldquo;sensitive&ldquo;—it just needs to be about them.
          </p>

          <p>Examples of personal information include,</p>

          <p>
            <strong>Name</strong> <br />
          </p>
          <p>
            <strong>Location information:</strong> <br />
            GPS Location, Latitude/Longitude, coarse or fine etc
          </p>
          <p>
            <strong>Contact information:</strong> <br />
            Postal address, email address, phone number, Twitter handles etc
          </p>
          <p>
            <strong>Behavioural or interaction information:</strong> <br />
            Interests, browsing habits, searches, contacts or associates, etc
          </p>
          <p>
            <strong>Computer/Network information:</strong> <br />
            Browser identifiers/fingerprints, IP address, network information, IMEI numbers etc
          </p>
          <p>
            <strong>Unique Identifiers:</strong> <br />
            Officially issued numbers that tie a user to their information (for instance
            passport and drivers license numbers).
          </p>
          <p>
            <strong>Billing information:</strong> <br />
            Credit card, purchase history, etc
          </p>

          <p>
            &hellip; and many other things. The types of information that can identify someone can be very broad - don't forget about username, password, date of birth, age, gender, etc.
          </p>
    {{/step-help}}
  </div>
</div>
