{{yield}}
<p>
  We collect this data because we need to {{input value=model.statement.collectionReason placeholder="do something that directly relates to our business"}}
</p>

{{#each model.statement.extraReasons as |reason|}}
  <p>
    also, we need to {{input value=reason placeholder="do another thing related to our business"}}
  </p>
{{/each}}


<p>
  <button {{action "addReason"}} class="pure-button pure-button-secondary">we have another reason</button>
</p>


<p>
  We only collect information relates to these purposes:
  <ul>
  <li>{{input type="checkbox" checked=model.statement.onlyTheseReasons}} Yes  <small>Go to next screen</small></li>
  <li>{{input type="checkbox" checked=model.statement.moreReasons}} No   <small>pop up help message</small></li>
  </ul>

</p>