
<div class="pure-g">
  <div class="pure-u-3-4">

    <p>Who do you share with and why?</p>

    <p>
      Besides our staff, we share this info with
      <span class="text-input">{{input type="text" value=model.statement.thirdPartySharingNameOne placeholder="3rd party"}}</span>,
      and
      <span class="text-input">{{input type="text" value=model.statement.thirdPartySharingNameTwo placeholder="3rd party"}}</span>
      in order to
      <span class="text-input">{{input type="text" value=model.statement.thirdPartySharingPurpose placeholder="take action connected to the purpose for collection"}}</span>.
    </p>

    {{#each model.statement.sharingParties as |party|}}
      <div>
        <p>
          We also share this info with
          <span class="text-input">{{input type="text" value=party.nameOne placeholder="3rd party"}}</span>,
          and
          <span class="text-input">{{input type="text" value=party.nameTwo placeholder="3rd party"}}</span>
          in order to
          <span class="text-input">{{input type="text" value=party.purpose placeholder="take action connected to the purpose for collection"}}</span>.
        </p>
      </div>
    {{/each}}

    <p>
      <button {{action "addParty"}} class="pure-button">we have another reason</button>
    </p>

    {{yield}}

  </div>

  <div class="pure-u-1-4">
    {{#component "stepHelp"}}
            <p>
              You need to have a valid reason to share information with outside parties, related to your purpose for collecting it. This doesn’t apply if you gathered the information from a public source, or you have asked the user’s permissions.
            </p>

            <p>
              See <a href="https://privacy.org.nz/limits-on-use-of-personal-information-principle-ten/">Privacy Principle 10</a>,
              and <a href="https://privacy.org.nz/limits-on-disclosure-of-personal-information-principle-eleven/#collection">Privacy Principle 11</a>
              for more.
            </p>
    {{/component}}
  </div>
</div>
