

{{model.id}}

<code>
<p>
{{clauseOne}}


We collect personal information from you, including information about your
  {{#if model.identityData}} identity,{{/if}}
  {{#if model.locationData}} location, {{/if}}
  {{#if model.computerNetworkData}}computer/network information, {{/if}}
  {{#if model.userBehaviourData}} behaviour, {{/if}}
  {{#if model.financialData}} finances, {{/if}}
  {{#if model.otherDataInfo}} {{model.otherDataInfo}} {{/if}}.
</p>

<p>
We collect this data from
  {{#if model.userDataSource}}
    the information you give us,
  {{/if}}
  {{#if model.publicDataSource}}
    public sources
  {{/if}}

  {{#if model.publicDataSource}}
    third parties,
  {{/if}}

  {{#if model.otherSourceInfo}}
    {{model.otherSourceInfo}}
  {{/if}}
</p>


<p>
We collect this data because we need{{model.collectionReason}} _to find therapy cats for our users in their general vacinity_. We also need _to allow people to recommend therapy-cats to other members of their professional network_.
</p>
Besides our staff, we share this information with Google Adsense in a deidentified form in order to serve you ads.
<p>
It’s optional to share [_your professional networks_] with us, however if you choose not to [_some personalisation and features will not be available_].
</p>
<p>
You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it corrected, please contact us at privacy@therapycats.co.nz (or 0800 THRPY CTS, or [_postal address_]).
</p>
</code>


<h2>Data Sources</h2>
<code>
</code>
