

<code>
<p>
We collect personal information from you, including information about your:
<ul>
  {{#if model.identityData}}<li>identity</li>{{/if}}
  {{#if model.addressData}}<li>address</li>{{/if}}
  {{#if model.locationData}}<li>location</li>{{/if}}
  {{#if model.computerNetworkData}}<li>computer/network</li>{{/if}}
  {{#if model.userBehaviourData}}<li>behaviour</li>{{/if}}
  {{#if model.financialData}}<li>finances</li>{{/if}}
  {{#if model.otherDataInfo}}<li>{{model.otherDataInfo}}</li>{{/if}}
</ul>
</p>

<p>
  We collect this data because we need to:
  <ul>
  <li>{{model.collectionReason}}</li>
  {{#each model.extraReasons as |reason|}}
    <li>{{reason}}</li>
  {{/each}}
  </ul>
</p>

<p>
  {{#if model.thirdPartySharingNameOne}}
    Besides our staff, we share this information with:
    <ul>
      <li>
      {{model.thirdPartySharingNameOne}}
      in order to {{model.thirdPartySharingPurpose}}.
      </li>

    {{#each model.sharingParties as |party|}}
      <li>
        {{party.nameOne}}
        in order to {{party.purpose}}
      </li>
    {{/each}}
    </ul>
  {{/if}}
</p>


{{#if model.optionalInfo}}
Providing some information is optional. If you choose not to enter {{model.optionalInfo}}, we'll {{model.optionalConsequence}}.

  {{#each model.extraOptionalInfo as |option|}}
    <li>If you choose not to enter {{option.info}} we'll {{option.consequence}}</li>
  {{/each}}
{{/if}}

{{#if model.secureMethodOne}}
  <p>
  We keep user information safe by  {{model.secureMethodOne}}
  {{#if model.secureMethodTwo}}
    and {{model.secureMethodTwo}}
  {{/if}}.
  </p>
{{/if}}

{{#if model.dataRetentionTime}}
    We keep your information for
    {{model.dataRetentionTime}}
    at which point we securely destroy it by
    {{model.dataDestructionMethod}}.
{{/if}}

<p>
You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it corrected, please contact us at {{model.emailAddress}}
  {{#if model.phoneNumber}}(or {{model.phoneNumber}}){{/if}}
  {{#if model.postalAddress}}, or {{model.postalAddress}}){{/if}}.
</p>
</code>

